.booking {
	background: #fdfbfb;

	.timeline {
		.booked-station {
			background: #e0f8ef;
			padding: 10px;
			i {
				text-align: right;
				font-size: small;
			}
			h2 {
				text-align: center;
				font-family: "Roboto", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				margin: 0px;

				color: #4e73df;
			}
		}
		p {
			font-family: "Poppins", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			margin-bottom: 0;
			padding-top: 15px;

			color: #706f6f;
		}
		hr {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}

	#station-list {
		&::-webkit-scrollbar {
			width: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(255, 0, 0, 0);
			border-radius: 3px;

			&:hover {
				background: rgba(255, 255, 255, 0.2);
			}
		}
	}

	.card-horizontal {
		background: #ffffff;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		img {
			margin: 13px 10px;
			width: 200px;
			height: 190px;
			border-radius: 10px;
			object-fit: cover;
		}
		.card-body {
			padding: 0 0 0 0;
			.judul {
				h3 {
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: bold;
					font-size: 22px;
					margin: 0px;

					color: #4e73df;
				}
				p {
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					margin-top: 5px;
					margin-bottom: 0;
					color: #b5b5b4;
				}
			}
			.konten {
				p {
					font-family: "Roboto", sans-serif;
					font-size: 20px;
				}
				h5 {
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					color: #b5b5b4;
				}
			}
		}
	}

	.side-data {
		.gambar-baterai {
			h6 {
				font-family: "Nunito", sans-serif;
				color: black;
				font-size: 16px;
				font-weight: 600;
			}
		}
		.status-baterai {
			h5 {
				font-family: "Nunito", sans-serif;
				color: black;
				font-size: 16px;
				margin-left: 4px;
				font-weight: 600;
			}
			.table {
				h6 {
					font-family: "Nunito", sans-serif;
					font-size: 16px;
				}
				p {
					font-family: "Nunito", sans-serif;
					font-size: 16px;
				}
			}
		}
	}

	.flash-message {
		background: #1cc88a;
	}
}

.booking-detail {
	.cut-text {
		display: block;
		max-width: 98%;
		white-space: nowrap;
		overflow: hidden !important;
		text-overflow: ellipsis;
	}

	.card-horizontal {
		// box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		img {
			width: 320px;
			height: 300px;
			border-radius: 10px;
			object-fit: cover;
		}
		.card-body {
			padding: 0 0 0 0;
			.judul {
				h3 {
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: 800;
					font-size: 26px;
					margin: 0px;

					color: #4e73df;
				}
				p {
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					margin-top: 0px;
					margin-bottom: 0;

					color: #858796;
				}
			}
			.konten {
				h5 {
					font-family: "Roboto", sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					margin: 0;

					color: #858796;
				}
				.konten-1 {
					background: #e0f8ef;
					border-radius: 10px;
					width: 310px;
					padding: 10px;
					margin-left: -8px;
					margin-bottom: 10px;
					h5 {
						margin: 0;
					}
					p {
						font-family: "Poppins", sans-serif;
						font-style: normal;
						font-weight: 300;
						font-size: 14px;
						margin: 0;

						color: #4b4f59;
					}
				}
				.konten-2 {
					p {
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						margin: 0;
						padding-bottom: 10px;

						color: #6e7689;
					}
				}
				.konten-3 {
					p {
						font-family: "Roboto", sans-serif;
						font-style: normal;
						font-weight: 500;
						font-size: 22px;
						margin: 0;

						color: #1cc88a;
					}
				}
			}
		}
	}
	.main-title {
		h2 {
			font-family: "Roboto", sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 30px;

			padding-left: 15px;
			margin-top: 5px;

			color: #4e73df;
		}
		.rounded-button {
			color: #4e73df;
			border: none;
			width: 46px;
			height: 46px;
			border-radius: 50%;
			background-color: #f1f6ff;
		}
	}

	.timeline {
		.booked-station {
			background: #e0f8ef;
			padding: 10px;
			i {
				text-align: right;
				font-size: small;
			}
			h2 {
				text-align: center;
				font-family: "Roboto", sans-serif;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				margin: 0px;

				color: #4e73df;
			}
		}
		p {
			font-family: "Poppins", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			text-align: center;
			margin-bottom: 0;
			padding-top: 15px;

			color: #706f6f;
		}
		hr {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}

	.books-detail {
		// height: 338px;
		padding: 15px;
		margin-top: 15px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
		border-radius: 20px;
		.tombol-buatan {
			background: #f1f6ff;
			border-radius: 50px;
			padding: 15px 20px;

			font-family: Poppins;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;

			color: #6e7689;
			i {
				color: #4985f8;
				font-size: 16px;
			}
			p {
				margin-bottom: 0;
				margin-left: 10px;
			}
			.faded-text {
				color: #bcbcbc;
			}
			.garis {
				justify-content: center;
				p {
					font-size: 24px;
					font-weight: 200;
					vertical-align: middle;
					margin-left: 0;
				}
			}
		}
		.btn-book {
			background-color: #f1f6ff;
			border-radius: 50px;
			min-width: 150px;

			font-family: "Poppins", sans-serif;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			padding: 10px 20px;

			color: #4985f8;
		}
	}

	.side-data {
		.gambar-baterai {
			h6 {
				font-family: "Nunito", sans-serif;
				color: black;
				font-size: 16px;
				font-weight: 600;
			}
		}
		.status-baterai {
			h5 {
				font-family: "Nunito", sans-serif;
				color: black;
				font-size: 16px;
				margin-left: 4px;
				font-weight: 600;
			}
			.table {
				h6 {
					font-family: "Nunito", sans-serif;
					font-size: 16px;
				}
				p {
					font-family: "Nunito", sans-serif;
					font-size: 16px;
				}
			}
		}
	}

	//--------STYLE BUAT DATE PICKER---------//
	input[type="date"] {
		height: 18px;
		margin: 0 auto;
		margin-left: 10px;
		width: 100%;
		font-family: "Poppins", sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		background-color: #f1f6ff;
		outline: none;
		border: 0;
		border-radius: 3px;
		padding: 0;
		color: #6e7689;
	}
	//--------BATAS STYLE BUAT DATE PICKER---------//

	//--------STYLE BUAT TIME PICKER---------//
	input[type="time"] {
		border: none;
		background-color: #f1f6ff;
		border: 0;
		color: #6e7689;
		font-family: "Poppins", sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		width: 120px;
		height: 24px;

		vertical-align: middle;
	}
	input[type="time"]:focus-visible {
		outline: none;
	}

	/* Wrapper around the hour, minute, second, and am/pm fields as well as 
	  the up and down buttons and the 'X' button */
	input[type="time"]::-webkit-datetime-edit-fields-wrapper {
		height: 24px;
		display: flex;
	}

	/* The space between the fields - between hour and minute, the minute and 
	  second, second and am/pm */
	input[type="time"]::-webkit-datetime-edit-text {
		padding: 0 4px;
	}

	/* The naming convention for the hour, minute, second, and am/pm field is
	  `-webkit-datetime-edit-{field}-field` */

	/* Hour */
	input[type="time"]::-webkit-datetime-edit-hour-field {
		background-color: #f1f6ff;
		border-radius: 15%;
		padding: 0 13px;
		color: #6e7689;
	}

	/* Minute */
	input[type="time"]::-webkit-datetime-edit-minute-field {
		background-color: #f1f6ff;
		border-radius: 15%;
		padding: 0 13px;
		color: #6e7689;
	}

	/* AM/PM */
	input[type="time"]::-webkit-datetime-edit-ampm-field {
		background-color: #7155d3;
		border-radius: 15%;
		padding: 19px 13px;
	}

	/* 'X' button for resetting/clearing time */
	input[type="time"]::-webkit-clear-button {
		display: none;
	}

	/* Up/Down arrows for incrementing/decrementing the value */
	input[type="time"]::-webkit-inner-spin-button {
		display: none;
	}
	//-------- BATAS STYLE BUAT TIME PICKER---------//
}
